@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Yeon+Sung&display=swap');



:root {
    --primary-color: #8DCEA7;
    --accent-color: #253669;
    --accent2-color: #756406;
    --heading-font: 'merriweather';
    --paragraph-font: 'yeon sung', 'Helvetica', 'sans-serif'
}

body {
    background-color: var(--accent-color);
}

main {
    background-color: white;
    width: 700px;
}

header, footer, main, nav {
    max-width: 45rem;
    margin: 0 auto;
    font-family: var(--paragraph-font);
    font-size: 1.25rem;
    padding: .75rem;
}

header, footer {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

h1 {
    font-size: 2rem;
    font-family: var(--heading-font);
    padding: 20px;
    text-align: center;
    color: var(--accent-color);
}

h2 {
    border-bottom: 1px solid var(--accent-color);
}

header img {
    width: 130px;
    height: auto;
    margin: 0;
    margin-top: 15px;
    margin-right: 15px;
}

p {
    padding: 0px;
}

.copy {
    text-align: center;
    color: var(--accent-color);
}

.byui {
    color: var(--accent-color);
}

.updated {
    color: var(--accent2-color);
    text-align: center;
}