:root {
    --primary-color: #184D1E;
    --secondary-color: #314172;
    --accent1-color: #70C291;
    --accent2-color: #BDC3DB;
    --heading-font: 'paprika';
    --paragraph-font: 'hind siliguri', 'Helvetica', 'sans-serif'
}

