@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Yeon+Sung&display=swap" rel="stylesheet');


:root {
    --primary-color: #8DCEA7;
    --accent-color: #253669;
    --accent2-color: #756406;
    --heading-font: 'merriweather';
    --paragraph-font: 'yeon sung', 'Helvetica', 'sans-serif'
}

body {
    background-color: var(--accent-color);
}

main {
    background-color: white;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

header, footer, nav {
    max-width: 75rem;
    margin: 0 auto;
    font-family: var(--paragraph-font);
    font-size: 1.25rem;
    padding: .75rem;
}

header, footer {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

section {
    max-width: 300px;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    font-family: var(--heading-font);
    padding: 20px;
    text-align: center;
    color: var(--accent-color);
}

h2 {
    border-bottom: 1px solid var(--accent-color);
}

h3 {
    color: var(--primary-color);
    font-size: 1.75rem;
    font-family: var(--heading-font);
    padding: 10px;
    text-align: center;
}

h3, h4 {
    margin: 0;
}

div {
    background-color: var(--accent-color);
    border-radius: 30px 30px 0 0;
    margin-bottom: 15px;
    padding: 10px;
}

.topLinks {
    color: var(--primary-color);
    font-size: 1.25rem;
    font-family: var(--heading-font);
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.principles {
    font-size: 1.25rem;
    padding: 15px;
    text-align: left;
    border: solid 4px var(--accent-color);
}

img {
    border: solid 4px var(--accent-color);
}

.copy {
    text-align: center;
    color: var(--accent-color);
}

.byui {
    color: var(--accent-color);
}

.updated {
    color: var(--accent2-color);
    text-align: center;
}