@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Newsreader&display=swap');


:root {
    --color-oxford: #001b2e;
    --color-cadet: #adb6c4;
    --color-peach: #ffc49b;
    --color-papaya: #ffefd3;
    --color-charcoal: #294c60;
    --heading-font: 'libre+baskerville';
    --paragraph-font: 'newsreader', 'Helvetica', 'sans-serif'
}

header {
    background-color: var(--color-peach);
    width: 100%;
}

header img {
    width: 120px;
    height: auto;
}

body {
    background-color: var(--color-papaya);
    text-align: center;
}

main {
    background-color:var(--color-cadet);
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: var(--color-charcoal);
}

.motto {
    display: flex;
    flex-direction: column;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation li a {
    color: var(--color-papaya);
}

.navigation a {
    display: block;
    padding: .75rem;
    text-align: left;
    text-decoration: none;
    color: var(--color-charcoal);
    font-weight: 700;
}

.navigation a:hover {
    color: var(--color-oxford);
    background-color: var(--color-peach);
    font-weight: 700;
}

.responsive li {
    display: block;
}

.active {
    border: 5px solid var(--color-peach);
    color: var(--color-oxford);
}

.copy {
    text-align: center;
    color: var(--accent-color);
}

.byui {
    color: var(--accent-color);
}

.currentDate {
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: var(--paragraph-font);
    color: var(--color-oxford);
}

.bannerPan {
    display: none;
    background-color: var(--color-charcoal);
    color: var(--color-papaya);
    font-size: 20px;
    padding: 10px;
}
