@media only screen and (min-width: 35em) {

    img {
        border-radius: 20px;
        box-shadow: 3px 3px 3px 3px var(--accent-color);
        border: solid 4px var(--accent-color);
    }

    p {
        border-radius: 20px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    header, footer, main {
        font-size: 2rem;
    }

    header, footer {
        border-radius: 10px;
    }
    
    h1 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }

    .topLinks {
        font-size: 1.25rem;
    }
    
    .principles {
        border: solid 4px var(--accent-color);
    }
    
    .proximity {
        grid-column: 2;
        grid-row: 1;
    }
    
    .thirds {
        grid-column: 1;
        grid-row: 2;
    }   
    
}