@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Newsreader&display=swap');


:root {
    --color-oxford: #001b2e;
    --color-cadet: #adb6c4;
    --color-peach: #ffc49b;
    --color-papaya: #ffefd3;
    --color-charcoal: #294c60;
    --heading-font: 'libre+baskerville';
    --paragraph-font: 'newsreader', 'Helvetica', 'sans-serif'
}

body {
    background-color: var(--color-peach);
    text-align: center;
}

main {
    background-color:var(--color-cadet);
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

header, footer {
    max-width: 75rem;
    margin: 0 auto;
    font-family: var(--paragraph-font);
    font-size: 1.25rem;
    padding: .75rem;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    text-align: left;
}

.fonts {
    list-style-type: none;
    margin: 0;
}

h3 {
    color: var(--primary-color);
    font-size: 1.75rem;
    font-family: var(--heading-font);
    padding: 10px;
    text-align: center;
}

.copy {
    text-align: center;
    color: var(--accent-color);
}

.byui {
    color: var(--accent-color);
}
